* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  background: linear-gradient(180deg, #fff, #f7f7f7);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gogoheader1 {
  display: flex;
  align-items: center;
  gap: 25px;
  height: 10%;
}

.header-right {
  display: flex;
  gap: 30px;
}

.grazy {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.aimr {
  display: flex;
  text-align: auto;
  gap: 5px;
}

.galzuu {
  /* background-color: rgba(214, 214, 213, 1) 65%, ; */
  display: flex;
  margin-top: 30px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  max-width: 1100px;
  height: 385px;
  margin: auto;
  margin-top: 20px;
}

.header {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.krezi {
  /* background-color: rgba(128, 128, 128, 1) 100%; */
  display: flex;
  margin-left: auto;
  overflow: hidden;
  position: relative;
}

.krezi img {
  transition: all 1s;
}

.flex {
  display: flex;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.flex img {
  transition: all;
  transition-duration: 0.5s;
}

.zaza {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 542.5px;
  height: 264.6px;

  background: rgb(253, 254, 255);
  background: linear-gradient(
    90deg,
    rgba(253, 254, 255, 1) 0%,
    rgba(214, 214, 213, 1) 65%,
    rgba(128, 128, 128, 1) 100%
  );
}

.neg {
  display: flex;
  margin: auto;
  width: 1100px;
}

.pine {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.baatar {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.bilee {
  width: 300px;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.ho {
  margin-top: 10px;
}

.container2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0px 287px;

  margin: auto;
}

.title {
  display: flex;

  padding: 20px;
}

.width-1100 {
  width: 1100px;
  margin: auto;
  background-color: white;
}

.lol {
  display: flex;
  justify-content: center;
  padding-left: 0px;
}

.lmao {
  background-color: white;
  max-width: 690px;

  height: 3239.37px;
}

.little {
  display: flex;
  justify-content: start;
  gap: 30px;
}

.tiitle2 {
  display: flex;
  margin-bottom: 10px;
  width: 830px;
  height: 3258.15px;
  padding: 0px 0px 0px 140px;
}

.hard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

.title3 {
  padding: 0px 0px 0px 140px;
  width: 410px;
  height: 3259.37px;
  background-color: white;
}

.title4 {
  margin: 0px 0px 50px;

  text-align: justify;
}

.lala {
  margin: 10px 0px 0px;
}

.smoll {
}

.zasnaa {
  display: flex;
  margin: 50px 0px 50px;
  gap: 10px;
}

.ydralt1 {
  margin-top: 40px;
}

.ydralt2 {
  margin-top: 40px;
}

.abu {
  margin: 30px 0px 0px;
  padding: 30px 50px;
  height: 88.33px;
}

.afk {
}

.baabar {
}

.class {
}

.header47 {
  display: flex;
  margin: auto;
}

.haha {
  display: flex;
  max-width: 1100px;
}

.textcard {
  gap: 20px;
}

.container3 {
  width: 1100px;
  margin: auto;
  padding-bottom: 20px;
}

.bruh {
  width: 100%;
  height: 360px;
}

.bruh img {
  width: 100%;
  height: 230px;
}

.lastback {
  background-color: black;
  width: 100%;
  /* height: 2000px; */
  margin: 60px 0px 0px;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
}

.kkk {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.op {
  margin: auto;
}

.width-1100promax {
  width: 1100px;
  display: flex;
}

.thend {
  height: 400px;
  width: auto;
  padding: 50px 0px;
}

.gogoheader47 {
  display: flex;
  align-items: center;
  margin: auto;

  height: 10%;
}

.ydralt4 {
  margin-top: 40px;
}

.ydralt3 {
  margin-top: 40px;
}

.krezi:hover img {
  transform: scale(1.1);
}

.krezi-hover {
  position: absolute;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}

.krezi:hover .krezi-hover {
  display: flex;
}

.pine:hover img {
  transform: scale(1.1);
}

.pine-hover {
  position: absolute;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}

.pine:hover .pine-hover {
  display: flex;
}

.baatar-hover {
  position: absolute;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}

.baatar:hover img {
  transform: scale(1.1);
}

.baatar:hover .baatar-hover {
  display: flex;
}

.bilee-hover {
  position: absolute;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}

.bilee:hover img {
  transform: scale(1.1);
}

.bilee:hover .bilee-hover {
  display: flex;
}

.width-1200 {
  position: relative;
  overflow: hidden;
}

.width-1200:hover img {
  transform: scale(1.1);
}

.width-1200-hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  align-items: end;
  justify-content: center;
  display: flex;
}

.width-1200-hover p {
  height: 36px;
  overflow: hidden;
  transition: all 1s;
}

.width-1200:hover .width-1200-hover p {
  height: 100px;
}

.width-1200:hover .width-1200-hover {
  display: flex;
}

.flex-hover {
  position: absolute;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}

.flex:hover img {
  transform: scale(1.1);
  transition: all;
  transition-duration: 0.5s;
  filter: brightness(75%);
}

.flex:hover .flex-hover {
  display: flex;
}

.hard-hover {
  position: absolute;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}

.hard:hover img {
  transform: scale(1.1);
}

.hard:hover .hard-hover {
  display: flex;
}

.unshih {
  position: absolute;
  opacity: 0;
  left: 80px;
  top: 60px;
  justify-content: center;
  align-items: center;
}

.flex:hover .unshih {
  opacity: 1;
}
