* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-inline: auto;
  width: 1920px;
}

.header {
  background-color: #f7f7f5cc;
  height: 44px;
  display: flex;
  padding-left: 528.5px;
  padding-right: 520.5px;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: 0 430.5px;
  padding: 0 22px;
  /* z-index: 10; */
}

.header img {
  height: 15.94px;
  width: 12.97px;
  gap: 24px;
}

nav {
  display: flex;
  column-gap: 24px;
}

nav a {
  color: #000;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: block;
  text-align: center;
  font-weight: 400;
  height: 44px;
  padding: 10px;

  /* display: block; */
}

.header2 {
  display: flex;
  width: 1920px;
  text-align: center;
  justify-content: center;
  line-height: 52px;
}

.header2 h4 {
  font-size: 14px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #1d1d1f;
}

.header-pic1 {
  background-image: url(./Background.png);
  height: 692px;
}

.header-fix {
  position: relative;
}

.header-fix h2 {
  color: white;
  font-size: 56px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  /* padding-left: 757px;
  padding-top: 55px;
 */
}

.header-fix p {
  color: white;
  font-size: 28px;
  font-weight: 400;
  margin-top: 6px;
  font-family: Arial, Helvetica, sans-serif;
  /* padding-left: 779px; */
  display: flex;
  text-align: center;
}

/* .pics {
  width: 123px;
  height: 44px;
} */

.header-problem {
  /* padding-left: 779px;
  d
  /* text-align: center; */
  justify-content: center;
  display: flex;
  padding-top: 55px;
}

.headerline {
  display: flex;
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.header-pic2 {
  margin-top: 12px;
  background-image: url(./Background.svg);
  height: 692px;
}

.header-pic3 {
  margin-top: 12px;
  height: 692px;
  background-image: url(./Figure.png);
}
