* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* helloo */
.container {
  width: 1440px;
  margin: 0 auto;

  height: 1200px;
}

.header {
  padding: 0 118px;
  width: 1440px;
  height: 40px;
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

.headercenter {
  width: 392px;
  height: 22px;
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  color: white;
}
.headerstyle {
  top: 30px;
  z-index: 10;
  width: 1440px;
  position: fixed;
  padding: 0 118px;
  font-weight: 600;
  justify-content: space-between;
}
.hero {
  height: 773px;
  position: relative;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  background-image: url(https://pinecone-academy-pinetour.vercel.app/image/hero-image.webp);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h3 {
  opacity: 72%;
  font-size: 80px;
  color: #e8edf2;
}

.hero h1 {
  color: #fdfdfe;
  font-size: 250px;
  font-weight: 400;
  line-height: 100%;
}

.hero h4 {
  opacity: 80%;
  color: white;
  font-size: 64px;
  font-weight: 900;
  line-height: 100%;
  font-family: sans-serif;
}

.travel-spots {
  background-image: url(https://pinecone-academy-pinetour.vercel.app/image/location-background.webp);
  gap: 30px;
  height: 500px;
}

.places {
  display: flex;
  align-items: center;
  justify-content: center;
}

.travel-spot-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  width: 276px;
  height: 370px;
}

.travel-spot-title {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.travel-spot-image-container:hover .travel-spot-title {
  opacity: 1;
}

.travel-spot-image-container img {
  height: 100%;
  width: 100%;
  transition: all 1s;
}

.travel-spot-image-container img:hover {
  transform: scale(1.1);
}

.travel-spot-image-container h3 {
  font-size: 33px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fdfdfe;
}

.destination {
  height: 1022px;
  position: relative;
  background-image: url(https://pinecone-academy-pinetour.vercel.app/image/roadmap-image.webp);
}

.destination-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 120px;
}
.destination-name h2 {
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: 600;
}

.destination-name h6 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #181818;
  opacity: 70%;
  font-weight: bold;
}

.destination-stops {
  margin: 30px 121px 0 120px;
}

.states h5 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.states2 h6 {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.states2 {
  display: flex;
  align-items: center;
}

.days {
  width: 52px;
  height: 52px;
  font-size: 14px;
  border-radius: 50%;
  background-color: #f7f6f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  display: none;
  position: absolute;
  top: 195px;
  left: 1060px;
}

.destination-stops {
  position: relative;
}

.destination-stop {
  background-color: #eee9d9cc;
  width: 513px;
  padding: 30px;
  margin-bottom: 20px;
  justify-content: space-between;
  border-radius: 50px;
}

.destination-stop:hover ~ .image {
  display: block;
}

.destination-stop2 {
  background-color: rgba(139, 184, 193, 0.8);
  width: 513px;
  padding: 30px;
  margin-bottom: 20px;
  justify-content: space-between;
  border-radius: 50px;
}

.destination-stop3 {
  background-color: rgba(170, 216, 215, 0.8);
  width: 513px;
  padding: 30px;
  margin-bottom: 20px;
  justify-content: space-between;
  border-radius: 50px;
}

.destination-stop4 {
  background-color: rgba(139, 192, 189, 0.8);
  width: 513px;
  padding: 30px;
  margin-bottom: 20px;
  justify-content: space-between;
  border-radius: 50px;
}

.destination-stop5 {
  background-color: rgba(151, 204, 224, 0.8);
  width: 513px;
  padding: 30px;
  justify-content: space-between;
  border-radius: 50px;
}

.destination-stop2:hover ~ .image {
  display: block;
}

.destination-stop3:hover ~ .image {
  display: block;
}

.destination-stop4:hover ~ .image {
  display: block;
}

.destination-stop5:hover ~ .image {
  display: block;
}
.button {
  height: 1120px;
  background-image: url(https://pinecone-academy-pinetour.vercel.app/image/price-and-footer-image.webp);
}

.button-header h2 {
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

.button-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0px 80px;
}

.button-header h5 {
  font-size: 20px;
  opacity: 70%;
  font-family: Arial, Helvetica, sans-serif;
  color: #181818;
  margin-top: 10px;
  text-transform: capitalize;
}

.button-main {
  width: 384px;
  height: 516px;
  border-radius: 20px;
  background-color: white;
}

.button-main2 {
  width: 384px;
  height: 516px;
  border-radius: 20px;
  background-color: white;
}

.button-main3 {
  width: 384px;
  height: 516px;
  border-radius: 20px;
  background-color: white;
}

.button-style {
  display: flex;
  column-gap: 24px;
  justify-content: center;
  margin-bottom: 116px;
}

.button-main-header {
  width: 36px;
  height: 36px;
}
